SECRET_KEY=django-insecure-payment-service-secret-key
POSTGRES_DB=payment_db
POSTGRES_USER=payment_user
POSTGRES_PASSWORD=payment_pass
POSTGRES_HOST=payment_db
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYS_DIR=/shared_keys
POLAR_API_KEY=polar_test_key_sample
POLAR_WEBHOOK_SECRET=polar_whsec_sample
