Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
cryptography>=41.0.0
psycopg2-binary>=2.9.9
kafka-python-ng>=2.2.2
requests>=2.31.0
PyJWT>=2.8.0
gunicorn>=21.2.0
drf-yasg>=1.21.7

grpcio>=1.60.0
grpcio-tools>=1.60.0
