SECRET_KEY=django-insecure-order-service-secret-key
POSTGRES_DB=order_db
POSTGRES_USER=order_user
POSTGRES_PASSWORD=order_pass
POSTGRES_HOST=order_db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
CATALOG_GRPC_HOST=catalog_service:50051
KEYS_DIR=/shared_keys
