DEBUG=1
SECRET_KEY=notification-secret-key-change-in-prod
POSTGRES_DB=notification_db
POSTGRES_USER=notification_user
POSTGRES_PASSWORD=notification_pass
POSTGRES_HOST=notification_db
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYS_DIR=/shared_keys
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True
