Django>=4.2,<5.0
djangorestframework>=3.14.0
channels>=4.0.0
channels-redis>=4.1.0
daphne>=4.0.0
psycopg2-binary>=2.9.0
kafka-python-ng>=2.2.2
PyJWT>=2.8.0
requests>=2.31.0
django-cors-headers>=4.3.0
gunicorn>=21.2.0

grpcio>=1.60.0
grpcio-tools>=1.60.0
