SECRET_KEY=django-insecure-inventory-service-secret-key
POSTGRES_DB=inventory_db
POSTGRES_USER=inventory_user
POSTGRES_PASSWORD=inventory_pass
POSTGRES_HOST=inventory_db
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYS_DIR=/shared_keys
