SECRET_KEY=django-insecure-cart-service-secret-key
DEBUG=True
ALLOWED_HOSTS=*
POSTGRES_DB=cart_db
POSTGRES_USER=cart_user
POSTGRES_PASSWORD=cart_pass
POSTGRES_HOST=cart_db
POSTGRES_PORT=5432
KEYS_DIR=/shared_keys
