SECRET_KEY=django-insecure-identity-service-secret-key
POSTGRES_DB=identity_db
POSTGRES_USER=identity_user
POSTGRES_PASSWORD=identity_pass
POSTGRES_HOST=identity_db
POSTGRES_PORT=5432
KEYS_DIR=/shared_keys
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@admin.com
DJANGO_SUPERUSER_PASSWORD=changeme
