SECRET_KEY=django-insecure-finance-service-secret-key
POSTGRES_DB=finance_db
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_pass
POSTGRES_HOST=finance_db
POSTGRES_PORT=5432
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KEYS_DIR=/shared_keys
